    :root {

    }

    html {
        font-size: 62.5%;
    }

    body {
        background-color: #e2e2e2;
        color: #2b2b2b;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2.4rem;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .profile {
        background-color: #f5f5f5;
        /*width: calc(100% - 100rem);*/
        border-radius: 1rem;
        border: 0.05rem solid lightgrey;
        box-shadow: 1.5px 1.5px 1.5px 0.5px #ccc;
        margin: 1rem;
        padding: 4rem 10rem 4rem 10rem;
        transition: 0.5s ease all;
    }

    .profile hr {
        border: rgb(214, 214, 214) 0.01rem solid;
    }

    .social {
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
    }

    .social a {
        text-decoration-line: none;
        text-align: center;
    }

    .btn {
        margin: 1rem;
        padding: 1rem;
        font-size: 2.2rem;
        background-color: #f5f5f5;
        background-image: url('../img/brushed-metal.svg');
        background-repeat: no-repeat;
        background-size: cover;
        color: #2b2b2b;
        border-radius: 1rem;
        border: 0.05rem solid rgb(160, 140, 140);
        transition: 0.25s ease all;
    }

    .btn:hover, .btn:active {
        background-color: slategrey;
        background-image: none;
        color: #f5f5f5;
        cursor: pointer;
        text-shadow: -0.5px 0.5px 0 #2b2b2b, 0.5px 0.5px 0 #2b2b2b, 0.5px -0.5px 0 #2b2b2b, -0.5px -0.5px 0 #2b2b2b;
        box-shadow: 1.5px 1.5px 1.5px 0.5px #ccc;
    }

    .fb:hover, .fb:active {
        background-color: #3b5998;
        background-image: linear-gradient(147deg, #6186d6 0%, #3b5998 74%);  
        color: #f5f5f5;
    }

    .twtr:hover, .twtr:active {
        background-color: #1DA1F2;
        background-image: linear-gradient(147deg, #1DA1F2 0%, #1671aa 74%);  
        color: #f5f5f5;
    }

    .ph:hover, .ph:active {
        background-color: #fa2bff;
        background-image: linear-gradient(147deg, #fa2bff 0%, #8622b9 74%);        
        color: #f5f5f5;        
    }

    .profile img {
        width: 25rem;
        border: #eee 1rem solid;
        border-radius: 100rem;
        box-shadow: 3px 3px 3px 1px #ccc;
    }

    @media only screen and (max-width: 720px) {

        .profile {
            background: transparent;
            border: none;
            box-shadow: none;
            margin: 0;
            padding: 2rem 5rem 2rem 5rem;
        }

        .social {
            border-radius: 1rem;
            border: 0.05rem solid lightgrey;
        }

    }